* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aqua;
}

h2 {
    margin: 15px;
}

.box {
    background-color: bisque;
    height: auto;
    max-width: 500px;
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    margin: 5px;
    line-height: 1.5em;
}

ul#food {
    margin: 5px;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: bold;
    list-style-position: inside;
}

.box ul {
    margin: 5px;
    line-height: 1.5em;
    font-size: 1em;
    list-style-position: inside;
    list-style-type: none;
}

.box ol {
    margin: 5px;
    line-height: 1.5em;
    font-size: 1em;
    list-style-position: inside;
}

.box a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 20px;
}

button.back {
    margin-top: 15px;
    height: auto;
    width: 100px;
}

a.back{
    font-size: 18px;
}

footer {
    background-color: bisque;
    text-align: center;
    font-size: 0.8em;
    max-width: 500px;
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 25px 25px;
}

footer > p > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

footer > p > a:hover {
    color: aqua;
}

footer > p {
    text-align: center;
}